*{
    padding: 0px;
    margin: 0px;
}
.first-img{
   
}
.menu-container{
    display: flex;
    background-color: gray;
    justify-content: space-around;
    align-items: center;
     
}
.all-li{
    display: flex;
    padding-top:  10px;
    list-style: none;
    gap: 15px;
    font-size: 17px;
    font-style: italic;
     padding-bottom: 5px;
}
.background-img{
    height: 100vh;
    background-image: url(./asset/image/background.jpg),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode:overlay ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}
.body-container{
  margin: auto;
    text-align: center;
   }
   .Digital{
    color: red;
   }
.title{
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.description{
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
}
.btn{
    background-color: red;
    color:white;
    padding: 12px 20px ;
    border: none;
}
.btn-primary{
    background-color: white;
    border: none;
    padding: 12px 20px;
}
.service-container{
    height: 100vh;
    background-image: url(./asset/image/footer-bg.png),linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-blend-mode:overlay ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.icon{
    width: 70px;
}
.box{
    width: 150px  ;
 height: 100px;
    padding: 50px;
   color: black;
    background-color: white;
    border-radius: 6px;
    ;
}
.description{
    width: 50%;
}
.first-box{
   display: flex;
   gap: 3px;
   margin-top: 5px;
}
.img{
    height: 70px;
    width: 70;
    border-radius: 50px;
}
.owner-container{
    display: flex;
    gap: 20px;
}
.profile-container{
    display: flex;
    align-items: center;
    gap: 20px;
    border-right: 2px solid red;
    padding-right: 40px ;
}
.button{
    background-color: red;
    padding: 25px 20px ;
    color: white;
    text-size-adjust: bold;

}